<style>
#calendar {
  /*max-height: 500px;*/
  margin: 0 auto;
}
</style>
<script type="text/javascript">
(function($) {

  "use strict";
  debugger;

  $('#calendar').fullCalendar({
    header: {
      left: 'prev,next today',
      center: 'title',
      right: 'month,agendaWeek,agendaDay,listWeek,listYear'
    },
    navLinks: true, // can click day/week names to navigate views
    editable: true,
    eventLimit: true, // allow "more" link when too many events
    events : function(start, end, timezone, callback){
      $.ajax({
        url: '/calendar/schedules',
        dataType: 'json',
        data: {
          start: start.unix(),
          end: end.unix(),
          catetory: ''
        },
        method: 'GET',
        success: function(data){
          var events = data.schedules;
          callback(events);
        }
      });
    }
  });
}(jQuery));
</script>
<div id="calendar"></div>
