<div class='discourse-calendar-container'>
  <p class='calendar-toggle-button'>Show Calendar</p>
  <div class='calendar-container' style="display: none">
    <div class='calendar'></div>
  </div>
</div>
