<div class='discourse-calendar-container'>
  <div>
    <label class='calendar-toggle-button'>
      {{fa-icon 'calendar'}}
      <span>{{i18n 'calendar.ui.show_label'}}</span>
    </label>
  </div>
  <div class='calendar-container' style="display: none">
    <div class='calendar'></div>
  </div>
</div>
